<style>
		h1 {color: blue}

		img {width: 400px;
			height: 200px;}

		#thirdDiv{width: 500px
				height:600px;
				background-color: yellow;
				padding: 50px;
				border:60px solid blue;
				}

		#spanID{font-size: 18px;
				margin: 50px;}


		
	</style>